<div class="container main-container">
  <h4>Demo Cadastro</h4>
  <hr />
  {{ cadastroForm.value | json }}
  {{ cadastroForm.valid }}
  {{ cadastroForm.touched }}
  {{ cadastroForm.dirty }}
  {{ formResult }}
  <!--form [formGroup]="cadastroForm" (ngSubmit)="save()" novalidate>
    <div class="form-horizontal">
      <div class="form-group">
        <label for="nome" class="col-md-2 control-label">Nome Completo </label>
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            id="nome"
            type="text"
            placeholder="Nome (Obrigatório)"
            formControlName="nome"
            [ngClass]="{
              'is-invalid':
                cadastroForm.get('nome')?.errors &&
                (cadastroForm.get('nome').touched ||
                  cadastroForm.get('nome').dirty)
            }"
          />
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('nome')?.errors &&
              (cadastroForm.get('nome').touched ||
                cadastroForm.get('nome').dirty)
            "
          >
            <p>Preencha o campo nome</p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="cpf" class="col-md-2 control-label">CPF </label>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="cpf"
            type="text"
            placeholder="CPF (Obrigatório)"
            formControlName="cpf"
            cpf
            [textMask]="{ mask: MASKS.cpf.textMask }"
            [ngClass]="{
              'is-invalid':
                (cadastroForm.get('cpf')?.errors?.required ||
                  cadastroForm.get('cpf')?.errors?.cpf) &&
                (cadastroForm.get('cpf').touched ||
                  cadastroForm.get('cpf').dirty)
            }"
          />
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('cpf')?.errors?.required &&
              (cadastroForm.get('cpf').touched || cadastroForm.get('cpf').dirty)
            "
          >
            <p>Preencha o campo cpf</p>
          </span>
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('cpf')?.errors?.cpf &&
              (cadastroForm.get('cpf').touched || cadastroForm.get('cpf').dirty)
            "
          >
            <p>CPF não é válido</p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2 control-label">E-mail </label>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="E-mail (Obrigatório)"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                (cadastroForm.get('email')?.errors?.required ||
                  cadastroForm.get('email')?.errors?.email) &&
                (cadastroForm.get('email').touched ||
                  cadastroForm.get('email').dirty)
            }"
          />
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('email')?.errors?.required &&
              (cadastroForm.get('email').touched ||
                cadastroForm.get('email').dirty)
            "
          >
            <p>Preencha o campo nome</p>
          </span>
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('email')?.errors?.email &&
              (cadastroForm.get('email').touched ||
                cadastroForm.get('email').dirty)
            "
          >
            <p>Email com formato inválido</p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2 control-label">Senha </label>
        <div class="col-md-6">
          <input
            type="password"
            class="form-control"
            id="senha"
            placeholder="Senha (Obrigatório)"
            formControlName="senha"
            [ngClass]="{
              'is-invalid':
                (cadastroForm.get('senha')?.errors?.required ||
                  cadastroForm.get('senha')?.errors?.rangeLength) &&
                (cadastroForm.get('senha').touched ||
                  cadastroForm.get('senha').dirty)
            }"
          />
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('senha')?.errors?.required &&
              (cadastroForm.get('senha').touched ||
                cadastroForm.get('senha').dirty)
            "
          >
            <p>Preencha o campo senha</p>
          </span>
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('senha')?.errors?.rangeLength &&
              (cadastroForm.get('senha').touched ||
                cadastroForm.get('senha').dirty)
            "
          >
            <p>Tamnho inválido</p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2 control-label"
          >Confirme a Senha
        </label>
        <div class="col-md-6">
          <input
            type="password"
            class="form-control"
            id="confirme-senha"
            placeholder="Confirme a Senha (Obrigatório)"
            formControlName="senhaConfirmacao"
            [ngClass]="{
              'is-invalid':
                (cadastroForm.get('senhaConfirmacao')?.errors?.required ||
                  cadastroForm.get('senhaConfirmacao')?.errors?.rangeLenght) &&
                (cadastroForm.get('senhaConfirmacao').touched ||
                  cadastroForm.get('senhaConfirmacao').dirty)
            }"
          />
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('senhaConfirmacao')?.errors?.required &&
              (cadastroForm.get('senhaConfirmacao').touched ||
                cadastroForm.get('senhaConfirmacao').dirty)
            "
          >
            <p>Preencha o campo confirmar senha</p>
          </span>
          <span
            class="text-danger"
            *ngIf="
              cadastroForm.get('senha')?.errors?.rangeLenght &&
              (cadastroForm.get('senha').touched ||
                cadastroForm.get('senha').dirty)
            "
          >
            <p>Tamnho inválido</p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button
              class="btn btn-success"
              id="registrar"
              type="submit"
              [disabled]="!cadastroForm.valid"
            >
              Registrar
            </button>
          </span>
        </div>
      </div>
    </div>
  </form-->
  <form [formGroup]="cadastroForm" (ngSubmit)="save()" novalidate>
    <div class="form-horizontal">
      <div class="form-group">
        <label for="nome" class="col-md-2 control-label">Nome Completo </label>
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            id="nome"
            type="text"
            placeholder="Nome (Obrigatório)"
            formControlName="nome"
            [ngClass]="{
              'is-invalid': displayMessage.nome
            }"
          />
          <span class="text-danger" *ngIf="displayMessage.nome">
            <p [innerHTML]="displayMessage.nome"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="cpf" class="col-md-2 control-label">CPF </label>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="cpf"
            type="text"
            placeholder="CPF (Obrigatório)"
            formControlName="cpf"
            cpf
            [textMask]="{ mask: MASKS.cpf.textMask }"
            [ngClass]="{
              'is-invalid': displayMessage.cpf
            }"
          />
          <span class="text-danger" *ngIf="displayMessage.cpf">
            <p [innerHTML]="displayMessage.cpf"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2 control-label">E-mail </label>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="E-mail (Obrigatório)"
            formControlName="email"
            [ngClass]="{
              'is-invalid': displayMessage.email
            }"
          />
          <span class="text-danger" *ngIf="displayMessage.email">
            <p [innerHTML]="displayMessage.email"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2 control-label">Senha </label>
        <div class="col-md-6">
          <input
            type="password"
            class="form-control"
            id="senha"
            placeholder="Senha (Obrigatório)"
            formControlName="senha"
            [ngClass]="{
              'is-invalid': displayMessage.senha
            }"
          />
          <span class="text-danger" *ngIf="displayMessage.senha">
            <p [innerHTML]="displayMessage.senha"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2 control-label"
          >Confirme a Senha
        </label>
        <div class="col-md-6">
          <input
            type="password"
            class="form-control"
            id="confirme-senha"
            placeholder="Confirme a Senha (Obrigatório)"
            formControlName="senhaConfirmacao"
            [ngClass]="{
              'is-invalid': displayMessage.senhaConfirmacao
            }"
          />
          <span class="text-danger" *ngIf="displayMessage.senhaConfirmacao">
            <p [innerHTML]="displayMessage.senhaConfirmacao"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button
              class="btn btn-success"
              id="registrar"
              type="submit"
              [disabled]="!cadastroForm.valid"
            >
              Registrar
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
